
    <div class="inklud">

        <div class="inklud__img">
        <img class="" src="{{ asset('assets/proekt/images/matkas/matki_.png') }}" alt="">
            
        </div>

        <div class="inklud__title teni">
           Формируем название для регистрации  ПлемМатки
            <a href="{{ path('app.proekts.pasekas.matkas.plemmatkas.creates'  ) }}"
               class="btnn btnn--mb0 btnn--plus" title="Добавить ПлемМатку">
                <strong class="strongo strongo--sizee">+</strong>
            </a>
        </div> 
    </div>
 

