{% extends 'mail.html.twig' %}

{% block body %}

    <p>Привет, {{ executor.name.first }}!</p>

    <p>Вы назначены на задание &laquo;{{ task.name }}&raquo;:</p>

    {% set url = url('work.projects.tasks.show', {'id': task.id}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}