.drevimg{
  background-image: url('../../../../assets/images/proekts/sezon/sezon4.png');
  width: 50px;
  height: 40px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

  //&--sezon4{
  //
  //}
}