.olan {
  background-image: url('../../../../assets/images/proekts/profile/olan.jpg');
  width: 70px;
  height: 59px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.logo_es{
  background-image: url('../../../../assets/images/proekts/logo_es.png');
  width: 270px;
  height: 45px;
  //box-shadow: 0 5px 10px rgba($primary-modal, .2);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}