{% extends 'probase.html.twig' %}

{% block title %}Привер Проект{% endblock %}


{% block menupro %}
 {{ include('app/proekts/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('home') }}">Главная</a>
    <a href="{{ path('drevos.rass') }}">Родословная</a>
    <span class="aktiv ">Страны</span>
{% endblock %}

{% block bodyy %}

    Это body=====================
{% endblock %}