
.strongo {
    font-weight: normal; 
    color: $text;

    &--kras {
        color: $red;
        font-size: 1.2rem;
    }

       &--chast-text {
        // font-weight: normal;
        font-size: 2rem;
        color: $text;
    }

}
