$body-bg: #f6f6f6;
$font-size-base: 0.95rem;

$breadcrumb-margin-bottom: 20px;

$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;

//// хлебные крошки
$z-index-kroxii: 900;

$border-kroxi: #a78c16;
$kroxi-sait: #155799;
$kroxii: #155799;
$kroxii-b: #ccb44b;

$gradien: #fff;
$white: #fff;
$beloe: #f6f6f6;
//===========================

// проект

//$sidebar-width: 270px;
$primary-modal:  #202020;

// nav - навигация
$header-color: rgb(151, 144, 93);
//$head-col-tem: rgb(125, 119, 52);
// header - заголовок
$sidebarr-width: 250px;

$border-lin-nav: rgb(175, 169, 112);
$border-foto: rgb(190, 186, 151);
//$lini-prof: #afa970;
$lini-prof: #9f966b;
//
$z-index-header: 1000;
$z-index-sidebar: 1000;
//==============================
// fon
$fon-ser:  rgba(0, 0, 0, 0.1);
$fon-ser-bor:  rgba(0, 0, 0, 0.5);

//matka
$mat-fon: #4e37bd;
$mat-fon-a: #3819c2;//при навелении на ссылку
$mat-col-text: #3819c2;
$mat-fon-ul: #e3dff7;

// proekts
$child-form: #565656;
$child-text:#025a02;
$col-child: rgba(255, 255, 255, 0.25);
$col-kategor: #b0b0b0;
$col-child-inklud: rgba(255, 255, 255, 0.15);

// сезон
$sezon-text: green;
$sezon-teni: #025a02;

// uchastie
$col-uchastie: #8e39c6;
$text-uchastie: rgb(224, 231, 231);

// strongo
$red: red;
$text: #a78c16;
$text-swet: rgba(167, 140, 22, 0.32);
$text-col: #5c6873; // проверить цвет


$zelen :#3ea662;
$zelen-text : #3a9d5d;
$zelen-linia : #588557;
$golub:#20a8d8;
$golub-text: #187da0;

// раса
$black:     #000;
$col-text: rgb(224, 231, 231);
$kroxi:   #ccb44b;

$grad1:  #155799;
$grad2:   #159957;
$grad3: #5db0c5;
$grad4: #156499;

$grad1-o:  #ccb44b;
$grad2-o:   #d4ca9a;

$red2:       #ED3024;
$blue:      #3137C9;
//btnn
$border-kroxi: #a78c16;
$primary: #20a8d8;;
$grad1-o: #ccb44b;
$grad2-o: #d4ca9a;
$plem-color: #155799; //$grad1
$rasa-color: green;
$transpar: transparent;
// form
$color-select: transparent;
$gradien:  #fff;
$border-linia:  #8d8484;
$color-rasa: #588557;
$z-index-header:  1000;
$z-index-kroxi: 900;

$color-text:  #DEDEDE;
$name-nike: rgb(175, 169, 112);
//$nav-tabs-border-color: red;