$body-bg: #f6f6f6;
$font-size-base: 0.95rem;

$breadcrumb-margin-bottom: 20px;

$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;

//matka
$mat-fon: #4c2fca;
$mat-fon-a: #3819c2;//при навелении на ссылку
$mat-col-text: #3819c2;
$mat-fon-ul: #e3dff7;

// uchastie
$col-uchastie: #8e39c6;
$text-uchastie: rgb(224, 231, 231);

// strongo
$red: red;
$text: #a78c16;
$text-col: #5c6873; // проверить цвет


$zelen :#3ea662;
$zelen-text : #3a9d5d;

$golub:#20a8d8;
$golub-text: #187da0;

// раса
$black:     #000;
$col-text: rgb(224, 231, 231);
$kroxi:   #ccb44b;

$grad1:  #155799;
$grad2:   #159957;

$grad1-o:  #ccb44b;
$grad2-o:   #d4ca9a;

$red:       #ED3024;
$blue:      #3137C9;
//btnn
$border-kroxi: #a78c16;
$primary: transparent;
$grad1-o: #ccb44b;
$grad2-o: #d4ca9a;
$plem-color: #155799; //$grad1
$rasa-color: green;

$border-linia:  #8d8484;
$color-rasa: #588557;
$z-index-header:  1000;
$z-index-kroxi: 900;