$body-bg: #f6f6f6;
$font-size-base: 0.95rem;

$breadcrumb-margin-bottom: 20px;

$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;


// strongo
$red: red;
$text: #a78c16;
$text-col: #5c6873; // проверить цвет


$zelen :#3ea662;
$zelen-text : #3a9d5d;

$golub:#20a8d8;
$golub-text: #187da0;

// раса
$black:     #000;
$col-text: rgb(224, 231, 231);
$kroxi:   #ccb44b;

$grad1:  #155799;
$grad2:   #159957;

$grad1-o:  #ccb44b;
$grad2-o:   #d4ca9a;

$red:       #ED3024;
$blue:      #3137C9;

