<ul class="nav-inkl nav-tabs-inkl mb-4-inkl">
    <li class="nav-item-inkl">
        <a class="nav-link-inkl active"
           href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.edit', {'plemmatka_id': plemmatka.id}) }}">
            Редактировать
        </a>
    </li>
    <li class="nav-item-inkl">
        <a class="nav-link-inkl"
           href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.uchastiess', {'plemmatka_id': plemmatka.id}) }}">
            Сезоны
        </a>
    </li>

</ul>