///////////Раса ==========
.rasa {
  //margin: 6rem -1rem 2rem -1rem;
  margin-top: -1.5rem;
  padding: 1.5rem 1.5rem;
  overflow: hidden; // в рамках размера -все лишнее скрылось overflow
  background-color:  #70a370;
  //background-color: transparent;
  box-shadow: 0 15px 25px rgba($black, .35);
  border-radius: 5px;

}

.active-ras {
  //color: $white transparent;
  background:  #70a370;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;

}

.rasa__header {
  margin: 0 0 2.5rem;

  &--preview {
    margin: -2.5rem -2.5rem 2.5rem; // убираем margin- картинка встанет без отступов
  }
}
.rasa__title {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: $col-text;

  a {
    color: inherit; // что бы изменить цвет ссылки - на родительский post__title
    text-decoration: none;
    //  &:hover {
    //     text-decoration: underline; // при наведении вернуться к подчеркиванию
    // }
  }
  &--mb0 {
    margin-bottom: 0;
  }
}
.rasa__data {
  display: flex; // добавляем т.к добаилась li-шка
  //justify-content: center;
  justify-content: space-between;
  align-items: center; // выравнивание по вертикали
  list-style: none; // убрала точку у li
  width: 100%;
  font-size: 1rem;
  color: $col-text;
  line-height: 2.0;

  a {
    padding: .6rem 1.6rem;
    color: inherit;

    opacity: 0.6;
    transition: opacity .2s linear;

    &:hover {
      opacity: 1;
      text-decoration: none;
      //background-color: sandybrown;
    }
  }
}
.rasa__name {
  // display: flex; // добавляем т.к добаилась li-шка
  width: 10.0rem;
  color: $col-text;
  padding: .6rem;
  border-bottom: 1px solid $col-text; // linia

  &--wid25 {
    width: 25.0rem;
  }
  &--wid15 {
    width: 15.0rem;
  }
  &--wid20 {
    width: 20.0rem;
  }
  &--wid5 {
    width: 5.0rem;
  }
}
.rasa__content {
  margin-bottom: 2rem; // отступ от футора
}

.linia {
  margin: 1rem ;
  width: 98%;
  padding: 1.5rem 1.5rem;
  overflow: hidden; // в рамках размера -все лишнее скрылось overflow
  background-color: $zelen-linia;
  //background-color: transparent;
  box-shadow: 0 15px 25px rgba($black, .35);
  border-radius: 5px;
}

.nomer {
  margin: 1rem;
  width: 98%;
  padding: 1rem 1rem;
  overflow: hidden; // в рамках размера -все лишнее скрылось overflow
  background-color:  #70a370; //    #7eb47e;
  //background-color: transparent;
  box-shadow: 0 15px 25px rgba($black, .35);
  border-radius: 5px;
}

.b-color {
  padding: 0 1rem;
  // padding-left: 1rem;
  background-color: #588557;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

// display: inline-block;  по умолч будут блочными
//font-family: inherit;  шрифт наследуется у родителя
// box-shadow: 0 7px 17px -10px rgba($blue, .3);  тень для кнопки
