{% extends 'base.html.twig' %}

{% block title %}
  Главная
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Главная!!!!!!</li>
  </ol>
{% endblock %}

{% block body %}


  <h1 class = "strongo--chast-text  pa-le-6 teni"> Добро пожаловать в админку</h1>

   <h2 class = "pagee__title pa-to-5">Если Вы участник и сюда попали случайно,  <a href="{{ path('proekt') }}">перейти по ссылке </a>
            или <br>
       сверху в боковом меню жмите:  <strong class = "strongo">Проект</strong>
    </h2>
  


{% endblock %}
