{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">Информационная панель</li>
	</ol>
{% endblock %}

{% block body %}
	<h1>Hello!     urok_6-2_ !!!!!!!!!!!</h1>


{% endblock %}